<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Code Challenge NASDAQ app</title>
    </head>
    <body>
        Get your NASDAQ data: 
        {% csrf_token %}
        <button type = "submit" value = {{ ndq }}>Click here!</button>
        <h1>Stocks and volumes</h1>
        <ul>
            {% for index in most_traded %}
            <li>symbol: {{ most_traded.symbol }}, volume: {{ most_traded.volume }}</li>
            {% endfor %}
        </ul>
    </body>
</html>